# Analysis of Suicide in India

## Warning - If you're having suicidal thoughts, please call suicide helpline! 

Suicide helpline numbers - http://www.suicide.org/international-suicide-hotlines.html

This dataset contains data from 2001 -2012.

Source - https://www.kaggle.com/rajanand/suicides-in-india

In [2]:
# import packages

import numpy as np
import pandas as pd

In [33]:
# read csv file

df = pd.read_csv('Suicides in India 2001-2012.csv')

df.head()

,State,Year,Type_code,Type,Gender,Age_group,Total
0,A & N Islands,2001,Causes,Illness (Aids/STD),Female,0-14,0
1,A & N Islands,2001,Causes,Bankruptcy or Sudden change in Economic,Female,0-14,0
2,A & N Islands,2001,Causes,Cancellation/Non-Settlement of Marriage,Female,0-14,0
3,A & N Islands,2001,Causes,Physical Abuse (Rape/Incest Etc.),Female,0-14,0
4,A & N Islands,2001,Causes,Dowry Dispute,Female,0-14,0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 237519 entries, 0 to 237518
Data columns (total 7 columns):
State        237519 non-null object
Year         237519 non-null int64
Type_code    237519 non-null object
Type         237519 non-null object
Gender       237519 non-null object
Age_group    237519 non-null object
Total        237519 non-null int64
dtypes: int64(2), object(5)
memory usage: 12.7+ MB

In [9]:
df.duplicated().any()

False

In [21]:
df.sample(10)

,State,Year,Type_code,Type,Gender,Age_group,Total
140366,Maharashtra,2010,Causes,Illegitimate Pregnancy,Male,15-29,0
31602,Bihar,2009,Causes,Other Prolonged Illness,Male,15-29,6
116381,Kerala,2003,Means_adopted,By Jumping off Moving Vehicles/Trains,Female,15-29,9
169447,Odisha,2002,Causes,Failure in Examination,Female,0-14,3
75526,Gujarat,2003,Causes,Insanity/Mental Illness,Male,30-44,89
169567,Odisha,2002,Causes,Illness (Aids/STD),Male,30-44,1
158567,Mizoram,2006,Means_adopted,By coming under running vehicles/trains,Male,15-29,0
219658,Uttar Pradesh,2005,Causes,Ideological Causes/Hero Worshipping,Male,45-59,0
138853,Maharashtra,2007,Education_Status,No Education,Female,0-100+,802
202925,Tamil Nadu,2001,Causes,Illegitimate Pregnancy,Male,60+,0

In [24]:
df.Type_code.value_counts()

Causes                  109200
Means_adopted            67200
Professional_Profile     49263
Education_Status          7296
Social_Status             4560
Name: Type_code, dtype: int64

In [28]:
df.Type.value_counts()

Others (Please Specify)                           7263
By Consuming Insecticides                         4200
By Overdose of sleeping pills                     4200
Physical Abuse (Rape/Incest Etc.)                 4200
Fall in Social Reputation                         4200
Property Dispute                                  4200
Poverty                                           4200
By Jumping from (Other sites)                     4200
Family Problems                                   4200
Paralysis                                         4200
Dowry Dispute                                     4200
Causes Not known                                  4200
Unemployed                                        4200
Love Affairs                                      4200
Suspected/Illicit Relation                        4200
Public Sector Undertaking                         4200
By Jumping off Moving Vehicles/Trains             4200
Cancer                                            4200
Other Causes (Please Specity)                     4200
By Consuming Other Poison                         4200
Professional Activity                             4200
Self-employed (Business activity)                 4200
Illness (Aids/STD)                                4200
Service (Private)                                 4200
By Drowning                                       4200
Illegitimate Pregnancy                            4200
Service (Government)                              4200
Retired Person                                    4200
By Fire-Arms                                      4200
Cancellation/Non-Settlement of Marriage           4200
                                                  ...
Drug Abuse/Addiction                              4200
By Self Infliction of injury                      4200
By Jumping from (Building)                        4200
Unemployment                                      4200
Student                                           4200
Death of Dear Person                              4200
Insanity/Mental Illness                           4200
By coming under running vehicles/trains           4200
By Fire/Self Immolation                           4200
Failure in Examination                            4200
By Machine                                        4200
Bankruptcy or Sudden change in Economic           3850
Not having Children(Barrenness/Impotency          3850
By Other means (please specify)                   3850
Diploma                                            912
Widowed/Widower                                    912
Post Graduate and Above                            912
Hr. Secondary/Intermediate/Pre-Universit           912
Seperated                                          912
Middle                                             912
No Education                                       912
Primary                                            912
Graduate                                           912
Never Married                                      912
Divorcee                                           912
Married                                            912
Matriculate/Secondary                              912
Not having Children (Barrenness/Impotency          350
By Other means                                     350
Bankruptcy or Sudden change in Economic Status     350
Name: Type, Length: 69, dtype: int64

In [36]:
df[df['Total'] == 0]

,State,Year,Type_code,Type,Gender,Age_group,Total
0,A & N Islands,2001,Causes,Illness (Aids/STD),Female,0-14,0
1,A & N Islands,2001,Causes,Bankruptcy or Sudden change in Economic,Female,0-14,0
2,A & N Islands,2001,Causes,Cancellation/Non-Settlement of Marriage,Female,0-14,0
3,A & N Islands,2001,Causes,Physical Abuse (Rape/Incest Etc.),Female,0-14,0
4,A & N Islands,2001,Causes,Dowry Dispute,Female,0-14,0
5,A & N Islands,2001,Causes,Family Problems,Female,0-14,0
6,A & N Islands,2001,Causes,Ideological Causes/Hero Worshipping,Female,0-14,0
7,A & N Islands,2001,Causes,Other Prolonged Illness,Female,0-14,0
8,A & N Islands,2001,Causes,Property Dispute,Female,0-14,0
9,A & N Islands,2001,Causes,Fall in Social Reputation,Female,0-14,0
10,A & N Islands,2001,Causes,Illegitimate Pregnancy,Female,0-14,0
11,A & N Islands,2001,Causes,Failure in Examination,Female,0-14,0
12,A & N Islands,2001,Causes,Insanity/Mental Illness,Female,0-14,0
14,A & N Islands,2001,Causes,Professional/Career Problem,Female,0-14,0
15,A & N Islands,2001,Causes,Divorce,Female,0-14,0
16,A & N Islands,2001,Causes,Drug Abuse/Addiction,Female,0-14,0
17,A & N Islands,2001,Causes,Not having Children(Barrenness/Impotency,Female,0-14,0
18,A & N Islands,2001,Causes,Causes Not known,Female,0-14,0
19,A & N Islands,2001,Causes,Unemployment,Female,0-14,0
21,A & N Islands,2001,Causes,Poverty,Female,0-14,0
22,A & N Islands,2001,Causes,Death of Dear Person,Female,0-14,0
23,A & N Islands,2001,Causes,Cancer,Female,0-14,0
24,A & N Islands,2001,Causes,Suspected/Illicit Relation,Female,0-14,0
25,A & N Islands,2001,Causes,Paralysis,Female,0-14,0
26,A & N Islands,2001,Causes,Property Dispute,Male,0-14,0
27,A & N Islands,2001,Causes,Unemployment,Male,0-14,0
28,A & N Islands,2001,Causes,Poverty,Male,0-14,0
29,A & N Islands,2001,Causes,Family Problems,Male,0-14,0
30,A & N Islands,2001,Causes,Illness (Aids/STD),Male,0-14,0
31,A & N Islands,2001,Causes,Drug Abuse/Addiction,Male,0-14,0
...,...,...,...,...,...,...,...
237479,West Bengal,2012,Professional_Profile,Service (Government),Male,45-59,0
237480,West Bengal,2012,Professional_Profile,Professional Activity,Male,45-59,0
237481,West Bengal,2012,Professional_Profile,Others (Please Specify),Male,45-59,0
237482,West Bengal,2012,Professional_Profile,Public Sector Undertaking,Male,45-59,0
237483,West Bengal,2012,Professional_Profile,House Wife,Male,45-59,0
237484,West Bengal,2012,Professional_Profile,Farming/Agriculture Activity,Male,45-59,0
237485,West Bengal,2012,Professional_Profile,Service (Private),Male,45-59,0
237486,West Bengal,2012,Professional_Profile,Student,Male,45-59,0
237487,West Bengal,2012,Professional_Profile,Service (Private),Female,60+,0
237488,West Bengal,2012,Professional_Profile,Retired Person,Female,60+,0
237489,West Bengal,2012,Professional_Profile,Self-employed (Business activity),Female,60+,0
237490,West Bengal,2012,Professional_Profile,Farming/Agriculture Activity,Female,60+,0
237491,West Bengal,2012,Professional_Profile,House Wife,Female,60+,0
237492,West Bengal,2012,Professional_Profile,Professional Activity,Female,60+,0
237493,West Bengal,2012,Professional_Profile,Others (Please Specify),Female,60+,0
237494,West Bengal,2012,Professional_Profile,Public Sector Undertaking,Female,60+,0
237495,West Bengal,2012,Professional_Profile,Unemployed,Female,60+,0
237496,West Bengal,2012,Professional_Profile,Student,Female,60+,0
237497,West Bengal,2012,Professional_Profile,Service (Government),Female,60+,0
237498,West Bengal,2012,Professional_Profile,Public Sector Undertaking,Male,60+,0
237499,West Bengal,2012,Professional_Profile,Self-employed (Business activity),Male,60+,0
237500,West Bengal,2012,Professional_Profile,Retired Person,Male,60+,0
237501,West Bengal,2012,Professional_Profile,Unemployed,Male,60+,0
237502,West Bengal,2012,Professional_Profile,House Wife,Male,60+,0
237503,West Bengal,2012,Professional_Profile,Others (Please Specify),Male,60+,0
237504,West Bengal,2012,Professional_Profile,Farming/Agriculture Activity,Male,60+,0
237505,West Bengal,2012,Professional_Profile,Student,Male,60+,0
237506,West Bengal,2012,Professional_Profile,Service (Private),Male,60+,0
237507,West Bengal,2012,Professional_Profile,Professional Activity,Male,60+,0
237508,West Bengal,2012,Professional_Profile,Service (Government),Male,60+,0

#### Data wrangling

<ul>
<li></li>
<li> Create a seperate dataframe for each type code </li>
</ul>